@import "font/stylesheet.css";

/** css generali **/
#overlay{
    display: none;
    opacity:0.8;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    background-image: url("immagini/index/vittoria.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}  /** div che compare solo quando il giocatore vince **/
.grid-border{
    padding-left: 80px;
    padding-right: 80px;
}
.grid-border-left{
    padding-left: 80px;

}
.grid-border-right{
    padding-right: 80px;
}
/** questi tre sono da rivedere **/

.schoolbell{
    font-family: Schoolbell, sans-serif;
}
.comba{
    font-family: Comba, sans-serif;;
}
.inter{
    font-family: Poppins, sans-serif;
}
.bolder{
    font-weight: bolder;
}
.italic{
    font-style: italic;
}
p{
    font-size: clamp(12px,1.5vw,20px)
}
h1{
    font-size: clamp(36px, 4vw,84px);
}
h2{
    font-size: clamp(28px, 4vw,48px);
}
.tCard{
    font-size: 100%;
}
body{
    background-color: #EFB5F2;
}
.purple{
    background-color: #6204BF;
}
.blu{
    background-color: #3D46F2;
}
.orange{
    background-color: #FE6C0C;
}
.yellow{
    background-color: #ECF447;
}
.fucsia{
    background-color: #F21DB9
}
.fucsia-sm{
    background-color: transparent;
}
.tWhite{
 color: #f8f4db;
}
.tBlack{
    color: #262626;
}
.tYellow{
    color: #ECF447;
}
.tPurple{
    color:#6204BF;
}
.tBlue{
    color: #3D46F2;
}
.tOrange{
    color:#FE6C0C;
}
.tFucsia{
    color:#F21DB9;
}
.bottone{
    border-radius: clamp(15px,2vw,20px);
    font-family: Poppins, sans-serif;
    box-shadow: 5px 5px 0 rgba(0,0,0,1);
    font-size: clamp(16px, 2vw, 24px);
    margin: 0;
    width:fit-content;
    font-weight: 600;
    cursor: pointer;
}
.bottone:active {
    transform: translateY(7px);
    box-shadow: 2px 2px 0 rgba(0,0,0,1);
}
.btn-purple{
    border: 5px solid #6204BF;
    background-color: #D3B3F5;

}
.btn-yellow{
    border: 5px solid #ECF447;
    background-color: #F6F7BA;
}
.btn-blue{
    border: 5px solid #3D46F2;
    background-color: #C2C5FF;
}
.btn-fucsia{
    border: 5px solid #F21DB9;
    background-color: #F997FF;
}
.btn-orange{
    border: 5px solid #FE6C0C;
    background-color: #F3B385;
}
.banner{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.banner p{
    text-transform: uppercase;
    font-size: 100px;
    white-space: nowrap;
    padding: 0 1rem;
    animation: move-rtl 6000ms linear infinite;
}


/** scritte che scorrono **/
.wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    overflow: hidden;
}
.scroll {
    white-space: nowrap;
    margin: 0 0;
}
.scroll div {
    display: flex;
    gap: 1em;
}
.scroll p {
    font-size: 48px;
    margin-bottom: 0;
    line-height: 10px;
}
.RightToLeft {
    animation: RightToLeft 30s infinite linear;
}
@keyframes  RightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
.LeftToRight {
    animation: LeftToRight 30s infinite linear;
}
@keyframes  LeftToRight {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
/** fine scritte che scorrono **/

.title{
    font-size: clamp(42px, 5vw, 72px);
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;

}

.pb-10{
    padding-bottom: 10vh
}
.pt-10{
    padding-top: 10vh
}
.mt-10 {
    margin-top: 10vh;
}
.width {
    width: 100%; /* questo booooo chi l'ha fatto */
}

/*Css calza*/
.firstDiv {
    height: 70vh;
}
.secondDiv {
    height: 110vh;
}
.gbackground{
    background-image: url('immagini/calza/gBackground.png');
    height: 100%;
    background-size: cover;
    position: relative;
    background-position-x: 12vh;
    background-repeat: no-repeat;
    background-position-y: 50%;
}
.littleStar {
    width: 4%;
    right: -30%;
    top:180%;
}
.gSticker {
    width: 40%;
    right: -160%;
    top:5%;
}
.gsfondoForm{
    background-image: url('immagini/calza/sfondoRosa.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.gdivVector{
    background-image: url('immagini/calza/ondaArancio.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: right center;
}
.gbackground2{
    background-image: url('immagini/calza/calziniSpeciali.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gscrittaGia {
    position: absolute;
    left: 78%;
    width: 75%;
    top: 90%;
}
.gtrestelle {
    width: 20%;
    left: 10%;
    bottom: -25%;
}
.gtryme {
    width: 40%;
    left: -50%;
    top: -30%;
}
.gscrittaVi {
    width: 65%;
    left: 45%;
    bottom: -18%;
}
.gstellineBelline {
    width: 12%;
    left: 45%;
    top: 217%;
}
.gscrittaGia2 {
    width: 11%;
    right: 5%;
    top: 273%;
}
.gscrittaGia3 {
    width: 18%;
    left: 40%;
    top: 290%;
}
/*fiore robi- Css robi?*/

.pbackground{
    background-image: url('immagini/shop/pBackground.png');
    height: 100%;
    background-size: cover;
    position: relative;
    background-position-x: 12vh;
    background-repeat: no-repeat;
    background-position-y: 50%;
}
.pbackground2{
    width: 100%;
    position: relative;
    left: -2vh;
    bottom: -3vw;
}
.pVector{
    background-image: url('immagini/shop/pVector.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.star1 {
    width: 18%;
    right: -25%;
    top: 20%;
}
.star2{
    width: 10%; right: -25%;top: -20%;
}
.star3{
display: none;
}
.tech1{
    object-fit: cover;
    width: 100%;
}
.shape1{
    display: none;
    object-fit: cover;
    width: 80%;
}
.stickershop{
    width: 50%; left: 55%;top: -50%; position: absolute;
}
.starshop{
    width: 10%;position: absolute; left: 80%; top: 10px;
}
.textshop1{
    width: 13%;top:20%;left: 5%
}
.price-position{
    width: 50%;
    position: absolute;
    top: -40px;
    left: -40px;
}
#text-hide2{
    display: none;
}

.sfondoForm{
    background-image: url('immagini/contatti/vector.png');
    background-size: cover;
    background-repeat: no-repeat;
} /* potrebbe essere un css di sara*/

/*Css sara?*/
.contatti{
    background-color: #EFB5F2;
    border: 5px solid #ECF447;
    border-radius: 3vh;
    padding:30px 2vw;
    margin: auto;
}
.input{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
}
.messaggio{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
    height: 22vh;
    resize:none
}
.bottoneForm{
    background-color: #f8f4db;
    border-radius: 2.5vh;
    color: #262626;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width:fit-content;
    padding: 0.7vw 3vw;
    margin: auto;
} /* questo potrebbe non avere più senso */
.sfondoForm{
    background-image: url('immagini/contatti/vector.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.formContainer{
    width: 60%;
    margin-left: 15vw;
    margin-top: 10vh
}
.contattiS1{
    position: absolute;
    left:-70%;
    top:-5%;
    width: 55%
}

/** index css**/
.flower{
    width: 90%;
}
.cut-img-right{
    position: relative;
    right: -3vw;
    max-width: calc(100% + 50px);
    height: auto;
} /*taglia il fiore a destra */
.cut-img-left{
    position: relative;
    left: -3vw;
    max-width: calc(100% + 50px);
    height: auto;
} /*taglia il fiore a sisnitra */
.overflow-hidden {
    overflow: hidden;
}
.overflow-hidden-x{
    overflow-x:clip ;
} /* uno di questi 2 non serve */
.divVector{
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -1vh;
}
.divVector-sm{
    display: none;
} /* servono per girare l'onda quando va su telefono */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.grid-item {
    aspect-ratio: 1;


    text-align: center;
    cursor: pointer;
}
.grid-container >.grid-item{
    border: 1vh solid white;
    border-radius: 1vh;

} /*servono per la griglia del gioco delle carte, ma anche per la griglia dei prodotti*/

.s1{
    width: 20%;left: 75%;top:70%;transform: rotate(-8deg);
}
.s2{
    width: 20%;left: 75%;top:70%;transform: rotate(12deg);
}
.s3{
    width: 20%;left: 85%;top:70%; transform: rotate(-12deg);
}
.s4{
    width: 30%;right: -20%;top:0%; z-index: 999
}
.indexStar1{
    width: 10%;
    left: 90%;
    top:-100%
}
.indexStar2{
    width: 4%;
    left: -10%;
    top:-25vh
}
.indexStar3{
    width: 20%;
    right: 10%;
    top:-200%
}
.quizBox{
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh
}




/** fine index **/

 /*** CSS GALLERY ***/

.roll-out-left {
	-webkit-animation: roll-out-left 0.6s ease-in both;
	        animation: roll-out-left 0.6s ease-in both;
}
.roll-out-right {
    -webkit-animation: roll-out-right 0.6s ease-in both;
    animation: roll-out-right 0.6s ease-in both;
}
.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out both;
    animation: roll-in-left 0.6s ease-out both;
}
.roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out both;
    animation: roll-in-right 0.6s ease-out both;
} /* classi per le animazioni delle immagini che vengono sparate via*/

.slider img{
    width: 30vw;
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    aspect-ratio: 1;
    object-fit: cover;
}
#sliderPC{
    display: block;
}
#sliderMobile{
    display: none;
} /* rendono responsive lo slider*/


/* navbar */
.logo{
    width: 8vw;
}
.navbar{
    background-color: #ECF447;
    border-bottom:4px solid #F21DB9;
}
.navbar a{
    font-size: 1.3vw;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #F21DB9;
}
.navbar-nav .nav-link.active{
    color: #F21DB9;
    border-bottom: 2px solid #F21DB9;
    padding-bottom: 0;
}
.custom-toggler .navbar-toggler-icon {
    width: 40px;
    height: 40px;
    background-image: url("immagini/toggler.png");
    background-size: 40px;
}
button{
    background-color: transparent;
}
.close-btn{
    width: 40px !important;
}
.offcanvas-header{
    border-bottom:4px solid #F21DB9;
    background-color: #ECF447;
}
.navbar a:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    color: #F21DB9;
}
/*fine navbar*/

/*footer*/
.footer{
    background-color: #ECF447;
    border-top: 4px solid #F21DB9;
    color: #F21DB9;

}
.footer p{
    font-weight: 200;
    font-size: 1.2vw;
}
.footer h1 {
    font-size: 3vw;
    font-weight: 900;
}
.icona{
    width:55px;
    height: 55px;
}
.icona:hover{
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    cursor: pointer;
}  /* questi saranno da sistemare nelle media query*/
/*fine footer*/

/*una serie di animazioni che venongono usate*/
@keyframes move-rtl {
    0%{
       transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }

}
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes roll-out-left {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) rotate(-140deg);
              transform: translateX(-1000px) rotate(-140deg);
      opacity: 0;
    }
  }
@keyframes roll-out-left {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) rotate(-140deg);
              transform: translateX(-1000px) rotate(-140deg);
      opacity: 0;
    }
  }
@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-140deg);
        transform: translateX(-800px) rotate(-140deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-140deg);
        transform: translateX(-800px) rotate(-140deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(160deg);
        transform: translateX(1000px) rotate(160deg);
        opacity: 0;
    }
}
@keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(160deg);
        transform: translateX(1000px) rotate(160deg);
        opacity: 0;
    }
}
@-webkit-keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(160deg);
        transform: translateX(800px) rotate(160deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(160deg);
        transform: translateX(800px) rotate(160deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

/* -----------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------INIZIO MEDIA QUERY-------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px){
    .wrapper {
        height: 32px;
    }
    .scroll p {
        font-size: 32px;
    } /*ridimensiona i wrapper per le scritte che si muovono */
    .pt-10{
        padding-top: 2vh;
    }
    .pb-10{
        padding-bottom: 2vh;
    }
    .grid-border{
        padding-left: 30px;
        padding-right: 30px;
    }
    .grid-border-left{
        padding-left: 30px;

    }
    .grid-border-right{
        padding-right: 30px;
    }
    /*questi 3 sopra sono da rivedere*/

    .center-sm{
        margin: auto;
    }

    /*index css*/

    .quizBox{
        border-top-left-radius: 0vh;
        border-bottom-left-radius: 3vh;
        border-bottom-right-radius: 3vh;
    }
    .grid-container >.grid-item{
        border: 2px solid white;
        border-radius: 5px;
    }
    .pbackground{
        background-image: url('immagini/shop/pBackground.png');
        height: 100%;
        background-size:110%;
        position: relative;
        background-position-x: center;
        background-repeat: no-repeat;
        background-position-y: 0vh;
    }
    .pbackground2{
        width: 110%;
        position: relative;
        margin: auto;
        align-content: center;
    }
    .background-sm{
        height: 40vh;
    }
    .divVector{
        display: none;
    }
    .divVector-sm{
        display: block;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top:-1vh
    }
    .s1{
        width: 25%;left: 8%;top: -60%
    }
    .s2{
        width: 25%;left: 70%;top:-45vw
    }
    .s3{
        width: 25%;left: 8%;top:-60vw;
    }
    .s4{
        width: 30%;right: 0%;top:70%;z-index: 999
    }
    .indexStar1{
        width: 20%;
        left: 10%;
        top:-40vh;
    }
    .indexStar2{
        width: 4%;
        left: -10%;
        top:80%
    }
    .indexStar3{
        width: 20%;
        right: 10%;
        top:-200%
    }
    .star1{
        width: 10%; right: 35%; top: 20%;
    }
    .star2{
        width: 10%; right: -25%;top: 20%;
    }
    .star3{
        width: 5%;
        top: -80%;
        left: -50%;
        display: block;

    }

    /*inizo css shop*/

    .stickershop{
        width: 50%; left: 55%;top: -5%; position: absolute
    }
    .textshop1{
        display: none;
    }
    .starshop{
        width: 10%;position: absolute; left: 90%; top: 10%;
    }

    #background1{
        height: 50vh;
    }

    #text-hide{
        display: none;
    }
    #text-hide2{
        display: block;
    }

    .pVector{
        background-image:none;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .banner{
        height: 5vh;
    }
    .flower{
        width: 70%;
    }
    .price-position{
        width: 50%;
        position: absolute;
        top: -20px;
        left: -20px;
    }

    /** css gallery **/
    #sliderPC{
        display: none;
    }
    #sliderMobile{
        display: block;
    }
    .slider img{
        width: 70vw;
        border-radius: 30px;
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
        aspect-ratio: 1;
        object-fit: cover;
    }
    /* da qui in poi non si capisce come sono divisi i css :-)*/

    /*css calza*/


    /*css navbar*/
    .sidebar{
        background-color: #ECF447;
        min-width: 100vw;
    }
    .sidebar a{
        color: #F21DB9;
        font-size: 2.5vh;
    }
    .logo{
        width: 16vw;
    }
    .navbar-nav .nav-link.active{
        color: #F21DB9;
        border: 0px solid #F21DB9;
        padding-bottom: 8px;
    }
    hr{
        color: #F21DB9;
    }
    #carrello{
        align-items: center;
        background-color: #EFB5F2;
        border-radius: 30px;
        border: 2px solid #F21DB9;
        bottom: 0%;
        margin-top: 3vh;
        margin-left: 30vw;
        margin-right: 30vw;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);

    }
    .navbar a:hover {
        -webkit-animation: none;
        animation: none;
        color: #F21DB9;
    }
    .hero{
        height: 50vh;
    }
    /* fine css navbar*/

    .sfondoForm{
        background-image: url('immagini/contatti/Vector2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .formContainer{
        width: 90% ;
        margin: auto ;
        margin-top: 20vh;
    }
    .input{
        border-radius: 1.5vh ;
        padding-left:2vh ;
        padding-right:2vh;
    }
    .messaggio{
        border-radius: 1.5vh;
        padding-left:2vh;
        padding-right:2vh;
    }

    .contatti{
        padding:3vh 2vh;
    }
    .contattiS1{
        top:-30%;
        left:0%;
        width: 35%;
    }

    /*css footer*/
    .icona{
        width:35px;
        height: 35px;
    }
    #freccia{
        transform: rotate(-90deg) scaleX(-1);
    }
    /*fine css footer*/
}

/*** nessun csss sotto questa riga */

