@import "font/stylesheet.css";

/** css generali **/
#overlay{
    display: none;
    opacity:0.8;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1000;
    background-image: url("immagini/index/vittoria.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.grid-border{
    padding-left: 80px;
    padding-right: 80px;
}
.grid-border-left{
    padding-left: 80px;

}
.grid-border-right{
    padding-right: 80px;
}

.schoolbell{
    font-family: Schoolbell, sans-serif;
}
.comba{
    font-family: Comba, sans-serif;;
}
.inter{
    font-family: Poppins, sans-serif;
}
.bolder{
    font-weight: bolder;
}
p{
    font-size: clamp(12px,1.5vw,20px)
}
h1{
    font-size: clamp(24px, 4vw,84px);  /* no bueno questo*/
}
h2{
    font-size: clamp(22px, 3vw,56px);
}
body{
    background-color: #EFB5F2;
}
.purple{
    background-color: #6204BF;
}
.blu{
    background-color: #3D46F2;
}
.orange{
    background-color: #FE6C0C;
}
.yellow{
    background-color: #ECF447;
}
.transparent{
    background-color: rgba(0,0,0,0.5);
}
.fucsia{
    background-color: #F21DB9
}
.fucsia-sm{
    background-color: transparent;
}
.tWhite{
 color: #f8f4db;
}
.tBlack{
    color: #262626;
}
.tYellow{
    color: #ECF447;
}
.tPurple{
    color:#6204BF;
}
.tBlue{
    color: #3D46F2;
}
.tOrange{
    color:#FE6C0C;
}
.tFucsia{
    color:#F21DB9;
}
.bottone{
    border-radius: clamp(15px,2vw,20px);
    font-family: Poppins, sans-serif;
    box-shadow: 5px 5px 0 rgba(0,0,0,1);
    font-size: clamp(16px, 2vw, 24px);
    margin: 0;
    width:fit-content;
    font-weight: 600;
    cursor: pointer;
}
.bottone:active {
    transform: translateY(7px);
    box-shadow: 2px 2px 0 rgba(0,0,0,1);
}
.btn-purple{
    border: 5px solid #6204BF;
    background-color: #D3B3F5;

}
.btn-yellow{
    border: 5px solid #ECF447;
    background-color: #F6F7BA;
}
.btn-blue{
    border: 5px solid #3D46F2;
    background-color: #C2C5FF;
}
.btn-fucsia{
    border: 5px solid #F21DB9;
    background-color: #F997FF;
}
.btn-orange{
    border: 5px solid #FE6C0C;
    background-color: #F3B385;
}
.banner{
    height: 7vh;
}
.border-fucsia{
    border: 3px solid #F21DB9;
}
.title{
    font-size: clamp(36px, 6vw, 72px);
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.pb-10{
    padding-bottom: 10vh
}
.pt-10{
    padding-top: 10vh
}
.pt-20 {
    padding-top: 20vh;
}
.pb-20 {
    padding-bottom: 20vh;
}
.mt-10 {
    margin-top: 10vh;
}
.width {
    width: 100%;
}
/*Css calza*/
.firstDiv {
    height: 66vh;
}
.secondDiv {
    height: 110vh;
}
.gbackground{
    background-image: url('immagini/calza/gBackground.png');
    height: 100%;
    background-size: cover;
    position: relative;
    background-position-x: 12vh;
    background-repeat: no-repeat;
    background-position-y: 50%;
}
.littleStar {
    width: 4%;
    right: -30%;
    bottom: -10%;
}
.gSticker {
    width: 35%;
    right: -135%;
    top: -15%;
}
.gstar1 {
    width: 15%;
    right: -25%;
    top: -10%;
}
.gsfondoForm{
    background-image: url('immagini/calza/sfondoRosa.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.gdivVector{
    background-image: url('immagini/calza/ondaArancio.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: right center;
}
.gbackground2{
    background-image: url('immagini/calza/calziniSpeciali.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gscrittaGia {
    position: absolute;
    left: 78%;
    width: 75%;
    top: 90%;
}
.gtrestelle {
    width: 20%;
    left: 10%;
    bottom: -20%;
}
.gtryme {
    width: 40%;
    left: -50%;
    top: -20%;
}
.gscrittaVi {
    width: 40%;
    right: -140%;
    bottom: -18%;
}
.gstellineBelline {
    width: 20%;
    left: -10%;
    top: 5%;
}
.gscrittaGia2 {
    width: 20%;
    right: 15%;
    top: 65%;
}
.gscrittaGia3 {
    width: 40%;
    left: -10%;
    top: 35%;
}
.gduestelline {
    width: 10%;
    left: 5%;
    top: 3%;
}
.gpiccolaStella1 {
    width: 3%;
    left: 25%;
    bottom: 4%;
}
.gpiccolaStella2 {
    width: 3%;
    right: 1%;
    bottom: 35%;
}
.gscrittaBlu {
    width: 30%;
    right: -2%;
    bottom: 15%;
}
.gkeepgoing {
    width: 80%;
    right: 8%;
    top: 55%;
}
.gnonfarti {
    width: 70%;
    right: 20%;
    top: 15%;
}
/*quiz calza*/
.gcontatti{
    background-color: #FE6C0C;
    border: 5px solid #ECF447;
    border-radius: 3vh;
    padding:30px 2vw;
    margin: auto;
}
.ginput{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
}
.gmessaggio{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 24px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
    height: 22vh;
    resize:none
}
.gfreccia1{
    width: 20%;
    left: 4%;
    bottom: 15%;
}
.gfreccia2{
    width: 20%;
    right: 4%;
    bottom: 15%;
    transform: rotate(180deg);
}
/* fine css calza*/

/** scritte che scorrono **/
.wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    overflow: hidden;
}
.scroll {
    white-space: nowrap;
    margin: 0 0;
}
.scroll div {
    display: flex;
    gap: 1em;
}
.scroll p {
    font-size: 48px;
    margin-bottom: 0;
    line-height: 10px;
}
.RightToLeft {
    animation: RightToLeft 30s infinite linear;
}
@keyframes  RightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
.LeftToRight {
    animation: LeftToRight 30s infinite linear;
}
@keyframes  LeftToRight {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
/** fine scritte che scorrono **/

/* HEAD*/
.title{
    font-size: clamp(42px, 5vw, 72px);
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;

}

.pb-10{
    padding-bottom: 10vh
}
.pt-10{
    padding-top: 10vh
}

.pb-20 {
    padding-bottom: 20vh;
}
.mt-10 {
    margin-top: 10vh;
}
.width {
    width: 100%; /* questo booooo chi l'ha fatto */
}

/*Css calza*/
.firstDiv {
    height: 70vh;
}
.secondDiv {
    height: 110vh;
}
.gbackground{
    background-image: url('immagini/calza/gBackground.png');
    height: 100%;
    background-size: cover;
    position: relative;
    background-position-x: 12vh;
    background-repeat: no-repeat;
    background-position-y: 50%;
}
.littleStar {
    width: 4%;
    right: -30%;
    top:180%;
}
.gSticker {
    width: 40%;
    right: -160%;
    top:5%;
}
.gsfondoForm{
    background-image: url('immagini/calza/sfondoRosa.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.gdivVector{
    background-image: url('immagini/calza/ondaArancio.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: right center;
}
.gbackground2{
    background-image: url('immagini/calza/calziniSpeciali.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gscrittaGia {
    position: absolute;
    left: 78%;
    width: 75%;
    top: 90%;
}
.gtrestelle {
    width: 20%;
    left: 10%;
    bottom: -25%;
}
.gtryme {
    width: 40%;
    left: -50%;
    top: -30%;
}
.gscrittaVi {
    width: 65%;
    left: 45%;
    bottom: -18%;
}
.gstellineBelline {
    width: 12%;
    left: 45%;
    top: 217%;
}
.gscrittaGia2 {
    width: 11%;
    right: 5%;
    top: 273%;
}
.gscrittaGia3 {
    width: 18%;
    left: 40%;
    top: 290%;
}
/*
>>>>>>> 44148288201e5ab937696318fd1b9ecd438c9dd5*/
/*fiore robi- Css robi?*/

.pbackground{
    background-image: url('immagini/shop/pBackground.png');
    height: 100%;
    background-size: cover;
    position: relative;
    background-position-x: 12vh;
    background-repeat: no-repeat;
    background-position-y: 50%;
}
.pbackground2{
    width: 100%;
    position: relative;
    left: -2vh;
    bottom: -3vw;
}
.pVector{
    background-image: url('immagini/shop/pVector.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.star1 {
    width: 18%;
    right: -25%;
    top: 20%;
}
.star2{
    width: 10%; right: -25%;top: -20%;
}
.star3{
display: none;
}

.imgshop{
    object-fit: cover;
    width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
    border-radius: 100%/75% 50% 75% 50%;
    position: relative;
=======
>>>>>>> Cecilia
    overflow: hidden;

=======
>>>>>>> 2c1057271d33933c9969881be6f5c414ef629e9a
}
.shape1{
    display: none;
    object-fit: cover;
    width: 80%;
}
.stickershop{
    width: 50%; left: 55%;top: -50%; position: absolute;
}
.starshop{
    width: 10%;position: absolute; left: 80%; top: 10px;
}
.textshop1{
    width: 13%;top:20%;left: 5%
}

.price-position{
    width: 50%;
    position: absolute;
    top: -40px;
    left: -40px;
}
#text-hide2{
    display: none;
}

/* css prodotto singolo */

.backgroundprodotto{
    background-image: url("immagini/prodotto/scritta.png");
    height: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

}

.sfondoForm{
    background-image: url('immagini/contatti/vector.png');
    background-size: cover;
    background-repeat: no-repeat;
}


/*Css sara?*/
.contatti{
    background-color: #EFB5F2;
    border: 5px solid #ECF447;
    border-radius: 3vh;
    padding:30px 2vw;
    margin: auto;
}
.input{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
}
.messaggio{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
    height: 22vh;
    resize:none
}
.bottoneForm{
    background-color: #f8f4db;
    border-radius: 2.5vh;
    color: #262626;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width:fit-content;
    padding: 0.7vw 3vw;
    margin: auto;
}
.bottoneForm:active {
    transform: translateY(7px);
    box-shadow: 2px 2px 0 rgba(0,0,0,1);
}
.sfondoForm{
    background-image: url('immagini/contatti/vector.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.formContainer{
    width: 60%;
    margin-left: 15vw;
    margin-top: 10vh
}
.contattiS1{
    position: absolute;
    left:-70%;
    top:-5%;
    width: 55%
}

/** index css**/
.quizBox{
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}
.gameBox{
    width: 75%;
    border-radius: 16px;
}
.flower{
    width: 90%;
}
.cut-img-right{
    position: relative;
    right: -3vw;
    max-width: calc(100% + 50px);
    height: auto;
}
.cut-img-left{
    position: relative;
    left: -3vw;
    max-width: calc(100% + 50px);
    height: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-hidden-x{
    overflow-x:clip ;
}
.divVector{
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -1vh;
}
.divVector-sm{
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    width: 100%;
}
.grid-item {
    aspect-ratio: 1;


    text-align: center;
    cursor: pointer;
}
.grid-container >.grid-item{
    border: 1vh solid white;
    border-radius: 1vh;
}
.border-rounded{
    border-radius:20px;
}

.s1{
    width: 15%;left: 50%;bottom:10%;transform: rotate(-8deg);
}
.s2{
    width: 15%;left: 75%;bottom:0%;transform: rotate(12deg);
}
.s3{
    width: 15%;left: 45%;bottom:0%; transform: rotate(-12deg);
}
.s4{
    width: 19%;right: 38%;top:0; z-index:999;
}
.indexStar1{
    width: 10%;
    left: 55%;
    top:10%
}
.indexStar2{
    width: 4%;
    left: 35%;
    top:20%
}
.indexStar3{
    width: 10%;
    right: 50%;
    top:0%
}
.t2{
    width: 20%;
    right: 50%;
    bottom:10%;
    z-index: 999;
}




/** fine index **/


/** CSS Trama **/

.onda {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -1vh;
    background-image: url('immagini/trama/onda.png');
}

.img_First {
    background-image: url('immagini/trama/calza_trama.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.stelline_3 {
    width: 15%;
    left: 80%;
    top: -40%;
}

.stelline_2 {
    width: 12%;
    left: 5%;
    bottom: 10%;
}

.sticker_piccolo {
    width:30%;
    left: 95%;
    top:5%;
}

.sticker_piccolo2 {
    width:15%;
    right: 15%;
    top: -50%;
}

.Cbackground{
    background-image: url('immagini/trama/img_sezione_BG.png');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;

}

.read_here {
    width: 30%;
    right: 50%;
    top: 5%;
}

.click_here {
    width: 15%;
    right: 25%;
    bottom: 30%;
}

.stellina_1 {
    width: 3.8%;
    right: 15%;
    bottom: 43%;
}

.stellina_2 {
    width: 3.8%;
    bottom: 7%;
}

.mandaci_foto {
    width: 30%;
    right: 30%;
    bottom: 5%;
}

.total_background{
    background-image: url('immagini/trama/scritta_striscia_D.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}

.stickerRosa_total {
    background-image: url('immagini/trama/sticker-rosa.png');
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 4;
}

.stickerBlu_total {
    background-image: url('immagini/trama/sticker-blu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    position: relative;
    z-index: 4;
}

.Wsticker {
    padding: 25% 10% 25% 20%;
}


 /*** CSS GALLERY ***/

.roll-out-left {
    -webkit-animation: roll-out-left 0.6s ease-in both;
    animation: roll-out-left 0.6s ease-in both;
}
.roll-out-right {
    -webkit-animation: roll-out-right 0.6s ease-in both;
    animation: roll-out-right 0.6s ease-in both;
}
.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out both;
    animation: roll-in-left 0.6s ease-out both;
}
.roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out both;
    animation: roll-in-right 0.6s ease-out both;
}

.slider img{
    width: 30vw;
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    aspect-ratio: 1;
    object-fit: cover;
}

#sliderPC{
    display: block;
}
#sliderMobile{
    display: none;
}


/* navbar */
.logo{
    height: 8vh;
}
.navbar{
    background-color: #ECF447;
    border-bottom:4px solid #F21DB9;
    height: 10vh;
}
.navbar a{
    font-size: 1.3vw;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #F21DB9;
}
.navbar-nav .nav-link.active{
    color: #F21DB9;
    border-bottom: 2px solid #F21DB9;
    padding-bottom: 0;
}
.custom-toggler .navbar-toggler-icon {
    width: 40px;
    height: 40px;
    background-image: url("immagini/toggler.png");
    background-size: 40px;
}
button{
    background-color: transparent;
}
.close-btn{
    width: 40px !important;
}
.offcanvas-header{
    border-bottom:4px solid #F21DB9;
    background-color: #ECF447;
}
.navbar a:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    color: #F21DB9;
}
/*fine navbar*/

/*footer*/
.footer{
    background-color: #ECF447;
    border-top: 4px solid #F21DB9;
    color: #F21DB9;

}
.footer p{
    font-weight: 200;
    font-size: 1.4vw;
}
.footer h1 {
    font-size: 3vw;
    font-weight: 900;
}
.footer h3 {
    font-size: 2vw;
    font-weight: 600;
}
.icona{
    width:55px;
    height: 55px;
}
.icona:hover{
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    cursor: pointer;
}
/*fine footer*/

/* animazioni per il jello*/
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
/* KEYFRAME ROLL OUT GALLERY CAROUSEL **/


 @-webkit-keyframes roll-out-left {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) rotate(-140deg);
              transform: translateX(-1000px) rotate(-140deg);
      opacity: 0;
    }
  }
  @keyframes roll-out-left {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) rotate(-140deg);
              transform: translateX(-1000px) rotate(-140deg);
      opacity: 0;
    }
  }
@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-140deg);
        transform: translateX(-800px) rotate(-140deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-140deg);
        transform: translateX(-800px) rotate(-140deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(160deg);
        transform: translateX(1000px) rotate(160deg);
        opacity: 0;
    }
}
@keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(160deg);
        transform: translateX(1000px) rotate(160deg);
        opacity: 0;
    }
}
@-webkit-keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(160deg);
        transform: translateX(800px) rotate(160deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(160deg);
        transform: translateX(800px) rotate(160deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
/* inizio media queryyyy */
@media screen and (max-width: 767px){
    .wrapper {
        height: 32px;
    }

    .scroll p {
        font-size: 32px;

    }
    .grid-border-sm{
        padding-left: 30px;
        padding-right: 30px;
    }
    .center-sm{
        margin: auto;
    }
    .pbackground{
        background-image: url('immagini/shop/pBackground.png');
        height: 100%;
        background-size:110%;
        position: relative;
        background-position-x: center;
        background-repeat: no-repeat;
        background-position-y: 0vh;
    }
    .pbackground2{
        width: 110%;
        position: relative;
        margin: auto;
        align-content: center;
    }
    .background-sm{
        height: 40vh;
    }

    .divVector{
        display: none;
    }
    .divVector-sm{
        display: block;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top:-1vh
    }
    .quizBox{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .grid-container >.grid-item{
        border: 1vw solid white;
        border-radius: 5px;
    }
    .border-rounded{
        border-radius:10px;
    }
    .gameBox{
        width: 100%;
        border-radius: 16px;
    }
    .s1{
        width: 30vw;left: 5%;top:40vw
    }
    .s2{
        width: 25vw;left: 70%;top:40vw;padding: 0px;
    }
    .s3{
        width: 30vw;left: 5%;top:30vw;
    }
    .s4{
        width: 40vw;right: 0%;top:40%;z-index: 999
    }
    .indexStar1{
        width: 20%;
        left: 5%;
        top:2%;
    }
    .indexStar2{
        width: 15vw;
        left: 70%;
        top:0%
    }
    .indexStar3{
        width: 20%;
        left: 10%;
        top:0%
    }
    .star1{
        width: 10%; right: 35%; top: 20%;
    }
    .star2{
        width: 10%; right: -25%;top: 20%;
    }
    .star3{
        width: 5%;
        top: -80%;
        left: -50%;
        display: block;

    }
    .stickershop{
        width: 50%; left: 55%;top: -5%; position: absolute
    }
    .textshop1{
        display: none;
    }
    .starshop{
        width: 10%;position: absolute; left: 90%; top: 10%;
    }

    #background1{
        height: 50vh;
    }
    .pt-10{
        padding-top: 2vh;
    }
    .pb-10{
        padding-bottom: 2vh;
    }
    #text-hide{
        display: none;
    }
    #text-hide2{
        display: block;
    }

    .pVector{
        background-image:none;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .banner{
        height: 5vh;
    }
    .flower{
        width: 70%;
    }
    .price-position{
        width: 50%;
        position: absolute;
        top: -20px;
        left: -20px;
    }

    /*css calza*/
    .gSticker {
        width: 30%;
        right: 10%;
        top: 85%;
    }
    .littleStar {
        width: 8%;
        left: 10%;
        bottom: -20%;
        transform: rotate(215deg);
    }
    .gbackground{
        background-image: url('immagini/calza/gBackground.png');
        height: 100%;
        background-size: 110%;
        position: relative;
        background-position-x: center;
        background-repeat: no-repeat;
        background-position-y: center;
    }
    .gscrittaGia {
        width: 10%;
        left: 1%;
    }
    .gsfondoForm{
        background-image: url('immagini/calza/sfondoVmobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    /* fine css calza*/
    .slider img{
        width: 100%;
        border-radius: 30px;
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
        aspect-ratio: 1;
        object-fit: cover;
    }
    #sliderPC{
        display: none;
    }
    #sliderMobile{
        display: block;
    }
    /*css navbar*/
    .logo{
        height: 6vh;
    }
    .sidebar{
        background-color: #ECF447;
        min-width: 100vw;
    }
    .sidebar a{
        color: #F21DB9;
        font-size: 2.5vh;
    }

    .navbar-nav .nav-link.active{
        color: #F21DB9;
        border: 0px solid #F21DB9;
        padding-bottom: 8px;
    }
    hr{
        color: #F21DB9;
    }
    #carrello{
        align-items: center;
        background-color: #EFB5F2;
        border-radius: 30px;
        border: 2px solid #F21DB9;
        bottom: 0%;
        margin-top: 3vh;
        margin-left: 30vw;
        margin-right: 30vw;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);

    }
    .navbar a:hover {
        -webkit-animation: none;
        animation: none;
        color: #F21DB9;
    }
    .hero{
        height: 50vh;
    }
    /* fine css navbar*/

    .sfondoForm{
        background-image: url('immagini/contatti/Vector2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .formContainer{
        width: 90% ;
        margin: auto ;
        margin-top: 20vh;
    }
    .input{
        border-radius: 1.5vh ;
        padding-left:2vh ;
        padding-right:2vh;
    }
    .messaggio{
        border-radius: 1.5vh;
        padding-left:2vh;
        padding-right:2vh;
    }

    .contatti{
        padding:3vh 2vh;
    }
    .contattiS1{
        top:-30%;
        left:0%;
        width: 35%;
    }

    /*css footer*/
    .icona{
        width: 45px;
        height: 45px;
    }
    #freccia{
        transform: rotate(-90deg) scaleX(-1);
    }
    .footer p{
        font-weight: 200;
        font-size: 4vw;
        margin-top: 10px;
    }
    .footer h1 {
        font-size: 6vw;
        font-weight: 900;
    }
    .footer h3 {
        font-size: 4vw;
        margin-top: 10px;
    }
    .icona:hover{
        -webkit-animation: jello-horizontal 0.9s both;
        animation: jello-horizontal 0.9s both;
        cursor: pointer;
    }
    /*fine css footer*/
}

/*** nessun csss sotto questa riga */

