:root {
    --bs-bg-warning: #FE6C0C;
    --component-active-color: #FE6C0C;
}
.padding-g {
    padding-right: 80px;
}
.prova{
    height: 66vh;
}
.firstDiv {
    height: 66vh;
}
.secondDiv {
    height: 100vh;
}
.gbackground{
    background-image: url('immagini/calza/gBackground.png');
    height: 100%;
    background-size: 90%;
    position: relative;
    background-position-x: 100px;
    background-repeat: no-repeat;
    background-position-y: center;
}
.littleStar {
    width: 3.5%;
    left: 50%;
    top: 75%;
}
.gSticker {
    width: 25%;
    right: 10%;
    top: 10%;
}
.gstar1 {
    width: 8%;
    left: 42%;
    top: 15%;
}
.gsfondoForm{
    background-image: url('immagini/calza/sfondoRosa.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.gdivVector{
    background-image: url('immagini/calza/ondaArancio.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: right center;
}
.gbackground2{
    background-image: url('immagini/calza/JukeSocks.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gYellow1 {
    width: 24%;
    left: 32%;
    bottom: 5%;
    z-index: 3;
}
.gstars3 {
    width: 8%;
    left: 3%;
    bottom: 1%;
}
.gtryme {
    width: 15%;
    left: 43%;
    top: 2%;
    z-index: 999;
}
.gPurple1 {
    width: 25%;
    right: 17%;
    bottom: 0;
    z-index: 4;
}
.gpurpleStar3 {
    display: none;
}
.gorange1 {
    display: none;
}
.threeStars {
    display:none;
}
.littleStar2 {
    display:none;
}
.gprettyStars {
    width: 20%;
    left: -15%;
    top: 5%;
}
.gYellow3 {
    width: 40%;
    left: -10%;
    top: 20%;
}
.gpurpleStar4 {
    width: 10%;
    left: 0;
    top: 3%;
}
.glittleStar1 {
    width: 3%;
    left: 25%;
    bottom: 20%;
}
.glittleStar2 {
    width: 3%;
    right: 1%;
    bottom: 35%;
}
.gBlue1 {
    width: 30%;
    right: -2%;
    top: 10%;
}
.gBlue2 {
    display: none;
}
.gpurpleStar2 {
    display:none;
}
.gkeepgoing {
    width: 80%;
    right: 8%;
    top: 55%;
}
.gnonfarti {
    width: 70%;
    right: 20%;
    top: 15%;
}
.wave-prpl{
    left: -2px;
    height: 100%
}
.wave-prpl-sm{
    display: none;
}
    /*quiz calza*/
.gformContainer{
    width: 70%;

}
.gquiz {
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
}
.gcheck {
    color: #FE6C0C;
    background-color: #f8f4db;
    border: 4px solid #FE6C0C;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
input[type="radio"]:checked {
    background-color: #6204BF;
    border-color: #6204BF;
}
.gProgress {
    accent-color: #FE6C0C;
    width: 16.7%;
}
.progress {
    height: 10px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 20px;
    background: #f8f4db;
    outline: 5px solid #ECF447;
    --bs-progress-bar-bg: var(--bs-bg-warning);
}

.gcontatti{
    background-color: #FE6C0C;
    border: 5px solid #ECF447;
    border-radius: 3vh;
    padding:30px 2vw;
    margin: auto;
}
.gmessaggio{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 24px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
    height: 22vh;
    resize:none
}
.gfreccia1{
    width: 20%;
    left: 4%;
    bottom: 15%;
    cursor: w-resize;
}
.gfreccia2 {
    width: 20%;
    right: 4%;
    bottom: 15%;
    transform: rotate(180deg);
    cursor: e-resize;
}
.gbottoneForm{
    background-color: #f8f4db;
    border-radius: 2.5vh;
    color: #262626;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width:fit-content;
    padding: 0.7vw 3vw;
    margin: auto;
    display: none;
}

.gbottoneForm:active {
    transform: translateY(7px);
    box-shadow: 2px 2px 0 rgba(0,0,0,1);
}

.divVector-sm {
    display:none;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------MEDIA QUERY---------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
    /*primo div*/
    .h1mt {
        margin-top: 30px;
    }
    .littleStar {
        width: 6%;
        left: 49%;
        top: 55%;
    }
    .gstar1 {
        width: 12%;
        left: 49%;
        top: 20%;
    }
    .gSticker {
        width: 25%;
        right: 10%;
        top: 25%;
    }
    .firstDiv {
        height: auto;
    }
    #che_calza_sei{
        height: 52vh;
    }
    .gtryme {
        width: 20%;
        left: 30%;
        top: 0;
        z-index: 999;
    }
    /*
    .gbackground {
        background-image: url('immagini/calza/gBackground.png');
        height: 100%;
        background-size: 120%;
        position: relative;
        background-position-x: center;
        background-repeat: no-repeat;
        background-position-y: 0;
    }*/
    .gYellow1 {
        width: 26%;
        left: 23%;
        bottom: 8%;
        z-index: 3;
    }
    .gPurple1 {
        width: 35%;
        right: 13%;
        bottom: 4%;
        z-index: 4;
    }
    .gpurpleStar3 {
        display: none;
    }
    .gorange1 {
        display: none;
    }
    .gsfondoForm {
        display: none;
    }
    .gsfondoForm-sm {
        background-image: url('immagini/calza/sfondoVmobile.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
    }
    .divVector-sm {
        display:none;
    }

    /*quiz calza*/
    .grid-border-sm-g {
        padding-left: 35px;
        padding-right: 35px;
    }
    .gformContainer{
        width: 85%;


    }
    #question {
        font-size: 16px;
        padding-top: 10px;
    }
    label {
        font-size: 14px;
    }
    .gbottoneForm{
        background-color: #f8f4db;
        border-radius: 2.5vh;
        color: #262626;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: bold;
        width:fit-content;
        padding: 2vw 3vw;
        margin: auto;
        display: none;
    }
    .gstars3 {
        width: 10%;
        left: 5%;
        bottom: 5%;
    }
    .littleStar2 {
        display:none;
    }
    .grid-border-left {
        padding-left: 50px;
    }
    /*terzo div*/
    .Gmargin {
        padding-right: 0;
    }
    /*quarto div*/
    .gbig {
        height: 10vh;
    }
    .gBlue1 {
        width: 30%;
        right: 0;
        top: 20%;
    }
    .gBlue2 {
        display: none;
    }
    .glittleStar2 {
        display:none;
    }
    .glittleStar1 {
        display:none;
    }
    .gpurpleStar2 {
        display:none;
    }
    .gpurpleStar4 {
        width: 10%;
        left: 10%;
        top: -30%;
    }
    .gkeepgoing {
        width: 20%;
        left: 5%;
        top: -100%;
    }
    .gnonfarti {
        width: 20%;
        right: 10%;
        top: -120%;
    }
}
@media screen and (max-width: 575px){
    .prova{
        height: auto;
    }
    .littleStar {
        width: 12%;
        left: 16%;
        top: 45%;
        transform: rotate(212deg);
    }
    .gstar1 {
        display:none;
    }
    .gSticker {
        width: 30%;
        right: 15%;
        top: 25%;
    }
    .gbackground{
        background-position-x: center;
        background-size: 90%;
        background-position-y: 0;
    }
    #background1{
        height: 300px;
    }
    #background2{
        height: 400px;
    }
    .wave-prpl{
       display: none;
    }
    .wave-prpl-sm{
        display: block;
        left:0;
        width: 100%;
        top:-1px;
    }
    .gdivVector {
        display:none;
    }
    .divVector-sm {
        display: block;
       bottom: -2px;
       width: 100%;
    }
    .gtryme {
        display:none;
    }
    .gstars3 {
        display:none;
    }
    .gYellow1 {
        display:none;
    }
    .gPurple1 {
        width: 40%;
        right: 13%;
        bottom: 6%;
        z-index: 4;
    }
    .gpurpleStar3 {
        width: 20%;
        left: 25%;
        bottom: 55%;
        z-index: 55;
        display: block;
    }
    .gorange1 {
        width: 35%;
        right: 7%;
        bottom: 55%;
        z-index: 55;
        display: block;
    }
    .gprettyStars {
        width: 25%;
        left: 55%;
        top: -20%;
    }
    .gYellow3 {
        width: 35%;
        left: -7%;
        top: 30%;
    }
    .littleStar2 {
        width: 5%;
        left: 8%;
        bottom: 6%;
        display: block;
    }
    .glittleStar1 {
        display:none;
    }
    .glittleStar2 {
        display:none;
    }
    .gBlue1 {
        display:none;
    }
    .gBlue2 {
        width: 32%;
        right: 8%;
        bottom: -58%;
        display:block;
    }
    .gpurpleStar2{
        width: 10%;
        right: 5%;
        top: 5%;
        display:block;
    }
    .gkeepgoing {
        width: 30%;
        top:-45%;
        left: 2%;
    }
    .gnonfarti {
        width: 30%;
        top: -90%;
        right: 2%;
    }
    .gpurpleStar4 {
        display: none;
    }
}


