:root {
    --bs-bg-warning: #FE6C0C;
    --component-active-color: #FE6C0C;
}
.padding-g {
    padding-right: 80px;
}
.prova{
    height: 66vh;
}
.firstDiv {
    height: 66vh;
}
.secondDiv {
    height: 100vh;
}
.gbackground{
    background-image: url('immagini/calza/gBackground.png');
    height: 100%;
    background-size: 90%;
    position: relative;
    background-position-x: 100px;
    background-repeat: no-repeat;
    background-position-y: center;
}
.littleStar {
    width: 4%;
    right: -30%;
    bottom: -10%;
}
.gSticker {
    width: 35%;
    right: -135%;
    top: -15%;
}
.gstar1 {
    width: 15%;
    right: -25%;
    top: -10%;
}
.gsfondoForm{
    background-image: url('immagini/calza/sfondoRosa.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.gdivVector{
    background-image: url('immagini/calza/ondaArancio.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: right center;
}
.gbackground2{
    background-image: url('immagini/calza/calziniSpeciali.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gscrittaGia {
    position: absolute;
    left: 78%;
    width: 75%;
    top: 90%;
}
.gtrestelle {
    width: 20%;
    left: 10%;
    bottom: -20%;
}
.gtryme {
    width: 40%;
    left: -50%;
    top: -17%;
}
.gscrittaVi {
    width: 40%;
    right: -140%;
    bottom: -23%;
}
.doQuiz {
    display:none;
}
.threeStars {
    display:none;
}
.littleStar-sm {
    display:none;
}
.gstellineBelline {
    width: 20%;
    left: -10%;
    top: 5%;
}
.gscrittaGia2 {
    width: 20%;
    right: 15%;
    top: 20%;
}
.gscrittaGia3 {
    width: 40%;
    left: -10%;
    top: 20%;
}
.gduestelline {
    width: 10%;
    left: 5%;
    top: 3%;
}
.gpiccolaStella1 {
    width: 3%;
    left: 25%;
    bottom: 20%;
}
.gpiccolaStella2 {
    width: 3%;
    right: 1%;
    bottom: 35%;
}
.gscrittaBlu {
    width: 30%;
    right: -2%;
    top: 10%;
}
.gkeepgoing {
    width: 80%;
    right: 8%;
    top: 55%;
}
.gnonfarti {
    width: 70%;
    right: 20%;
    top: 15%;
}
.wave-prpl{
    left: -2px;
    height: 100%
}
.wave-prpl-sm{
    display: none;
}
    /*quiz calza*/
.gformContainer{
    width: 70%;

}
.gquiz {
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
}
.gcheck {
    color: #FE6C0C;
    background-color: #f8f4db;
    border: 4px solid #FE6C0C;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
input[type="radio"]:checked {
    background-color: #6204BF;
    border-color: #6204BF;
}
.gProgress {
    accent-color: #FE6C0C;
    width: 16.7%;
}
.progress {
    height: 10px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 20px;
    background: #f8f4db;
    outline: 5px solid #ECF447;
    --bs-progress-bar-bg: var(--bs-bg-warning);
}

.gcontatti{
    background-color: #FE6C0C;
    border: 5px solid #ECF447;
    border-radius: 3vh;
    padding:30px 2vw;
    margin: auto;
}
.gmessaggio{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 24px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
    height: 22vh;
    resize:none
}
.gfreccia1{
    width: 20%;
    left: 4%;
    bottom: 15%;
    cursor: w-resize;
}
.gfreccia2 {
    width: 20%;
    right: 4%;
    bottom: 15%;
    transform: rotate(180deg);
    cursor: e-resize;
}
.gbottoneForm{
    background-color: #f8f4db;
    border-radius: 2.5vh;
    color: #262626;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width:fit-content;
    padding: 0.7vw 3vw;
    margin: auto;
    display: none;
}

.gbottoneForm:active {
    transform: translateY(7px);
    box-shadow: 2px 2px 0 rgba(0,0,0,1);
}

.divVector-sm {
    display:none;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------MEDIA QUERY---------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
    /*primo div*/
    .h1mt {
        margin-top: 30px;
    }
    .gSticker {
        width: 35%;
        right: 10%;
        top: 140%;
    }
    .littleStar {
        width: 7%;
        left: 13%;
        bottom: -33%;
        transform: rotate(215deg);
    }
    .firstDiv {
        height: auto;
    }
    #che_calza_sei{
        height: 52vh;
    }
    /*
    .gbackground {
        background-image: url('immagini/calza/gBackground.png');
        height: 100%;
        background-size: 120%;
        position: relative;
        background-position-x: center;
        background-repeat: no-repeat;
        background-position-y: 0;
    }*/
    .gscrittaGia {
        width: 10%;
        left: 1%;
    }
    .gscrittaVi {
        width: 43%;
        right: 10%;
        bottom: -158%;
    }

    .gsfondoForm {
        display: none;
    }
    .gsfondoForm-sm {
        background-image: url('immagini/calza/sfondoVmobile.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
    }
    .divVector-sm {
        display:none;
    }

    /*quiz calza*/
    .grid-border-sm-g {
        padding-left: 35px;
        padding-right: 35px;
    }
    .gformContainer{
        width: 85%;


    }
    #question {
        font-size: 16px;
        padding-top: 10px;
    }
    label {
        font-size: 14px;
    }
    .gbottoneForm{
        background-color: #f8f4db;
        border-radius: 2.5vh;
        color: #262626;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: bold;
        width:fit-content;
        padding: 2vw 3vw;
        margin: auto;
        display: none;
    }
    .doQuiz {
        width: 40%;
        right: 0;
        bottom: -36%;
        display:block
    }
    .threeStars {
        width: 20%;
        left: 0;
        bottom: -34%;
        display:block;
    }
    .littleStar-sm {
        width: 8%;
        left: 0;
        bottom: -160%;
        display:block;
    }
    .gstellineBelline {
        width: 30%;
        left: 65%;
        top: -20%;
    }
    .grid-border-left {
        padding-left: 50px;
    }
    /*terzo div*/
    .Gmargin {
        padding-right: 0;
    }
    /*quarto div*/
    .gbig {
        height: 10vh;
    }
    .gkeepgoing {
        width: 30%;
        top:-50%;
        left: 2%;
    }
    .gnonfarti {
        width: 30%;
        top: -90%;
        right: 2%;
    }
}
@media screen and (max-width: 575px){
    .prova{
        height: auto;
    }
    .gbackground{
        background-position-x: center;
        background-size: 90%;
        background-position-y: 0;
    }
    #background1{
        height: 300px;
    }
    #background2{
        height: 400px;
    }
    .wave-prpl{
       display: none;
    }
    .wave-prpl-sm{
        display: block;
        left:0%;
        width: 100%;
        top:-1px;
    }
    .gdivVector {
        display:none;
    }
    .divVector-sm {
        display: block;
       bottom: -2px;
       width: 100%;
    }
}

