.contact {
    margin-top: 10vh;
    padding-bottom: 9vh;
    position: relative;
}
.starTop{
    width: 20%;left: 70%;top:6%
}
.starTop2{
    width: 6%;left: 92%;top:60%
}
.contatti{
    background-color: #EFB5F2;
    border: 5px solid #ECF447;
    border-radius: 3vh;
    padding:30px 2vw;
    margin: auto;
}
.callUs{
    top:-100%;
    left:-60%;
    width: 70%;
}
.infoNumber{
    margin-top: 7vh; margin-left:5vw;
}

.forumSticker{
    top: -40px;
    left:95%;
    width: 60%;
}
.input{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
}
.messaggio{
    background-color: #f8f4db;
    border: none;
    border-radius: 2.5vh;
    font-size: 16px;
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 2vh;
    height: 12vw;
    resize:none
}
.bottoneForm{
    background-color: #f8f4db;
    border-radius: 2.5vh;
    color: #262626;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width:fit-content;
    padding: 0.7vw 3vw;
    border: transparent;

}
.bottoneForm:active {
    transform: translateY(7px);
    box-shadow: 2px 2px 0 rgba(0,0,0,1);
}
.sfondoForm{
    background-image: url('immagini/contatti/vector.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.formContainer{
    width: 80%;
    left: 20%;
    margin-top: 10vh
}
.contattiS1{
    position: absolute;
    left:-60%;
    top:-5%;
    width: 50%;/*sistemare*/
    z-index:999;
}

.s2{
    width: 130px;
}
.s3{
    width: 50%;
    left: 90%;
    top:-50%;
}
.buttonMail{
    left: 0;
    top:45px
}
.buttonCell{
    left: 110px;
    top:45px
}
.mailInfo{
    top:170%;
}
.stickerMap{
   position: absolute;
    bottom:50px;
    left: 80%;
    width: 18%;
}
.frameMap{
    height: 80vh;
    border:#ECF447 5px solid;
    border-radius: 3vh;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------MEDIA QUERY---------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px){
    /* ---------------------------DA FARE-----------------------------------------------*/
    .starTop{
        width: 10%;left: 70%;
    }


    .sfondoForm{
        background-image:url("immagini/contatti/vector2.png");
    }
    .formContainer{
        width: 80%;
        left: 10%;
        margin-top: 20vh
    }

    .infoDiv{
        height: 70vh;
    }
    .infoNumber{
         margin-left:30vw;
    }
    .mailInfo{
        top:200%;

    }
    .cellInfo{
        left: 8vw;
    }
    .s2{
        width: 100px;
        top:20px
    }
    .buttonCell{
        left: 80px;
        top:45px
    }

    .contattiS1{
        position: absolute;
        left:-15%;
        top:-25%;
        width: 130px;/*sistemare*/
        transform:rotate(-10deg);
    }
    .stickerMap{
        position: absolute;
        bottom:50px;
        left: 75%;
        width: 25%;
    }
}
@media screen and (max-width: 576px){
    .starTop{
        width: 20%;left: 70%;
    }
    .formContainer{
        width: 100%;
        left: 0;
        margin-top: 15vh
    }
    .contattiS1{

        left:0;
        top:-30%;
        width: 130px;/*sistemare*/

    }
    .stickerMap{
        position: absolute;
        bottom:50px;
        left: 65%;
        width: 35%;
    }
    .forumSticker{
        top: -40px;
        left:95%;
        width: 100px;
    }
}