.divVector{
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -1vh;
}
#sliderPC{
    display: block;
}
#sliderMobile{
    display: none;
}
.galley_cover {
    background-image: url('immagini/gallery/gallery_cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.story{
    width: 14%;
    bottom:4%;
    left:5%;
    z-index: 999;
    transform: rotate(-8deg);
}
.socialS{
    width: 60%;
    bottom:10%;
    left:-30%;
    z-index: 999;
}
.socialSm{
    display: none;
}
.slider img{
    width: 30vw;
    border-radius: 30px;
    box-shadow: 10px 10px 0 0 rgba(0,0,0,1);
    aspect-ratio: 1;
    object-fit: cover;
}
.gallery1 {
    position: relative;
    width: fit-content;
    margin: auto;
}
.slider1 {
    width:72vw;
    height: 30vw;
}
.slide1 {
    position:absolute;
    z-index: 100;
}
.slide2 {
    position:absolute;
    z-index: 99;
    left:7vw;
}
.slide3 {
    position:absolute;
    z-index: 98;
    left:14vw;
}
.slide4 {
    position:absolute;
    z-index: 97;
    left:21vw;
}
.slide5 {
    position:absolute;
    z-index: 96;
    left:28vw;
}
.slide6 {
    position:absolute;
    z-index: 95;
    left:35vw;
}
.slide7{
    position:absolute;
    z-index: 94;
    left:42vw;
}
.leftButton {
    position: absolute;
    left: -10%;
    top:44%;
    z-index: 1000;
    cursor: pointer;
}
.rightButton {
    position: absolute;
    right: -10%;
    top:44%;
    z-index: 1000;
    cursor: pointer;
}
.vector3 {
    width: 100%;
    transform: rotate(180deg);
}
.imgGallery {
    width: 80%;
    margin-left: 10%;
}
.roll-out-left {
    -webkit-animation: roll-out-left 0.6s ease-in both;
    animation: roll-out-left 0.6s ease-in both;
}
.roll-out-right {
    -webkit-animation: roll-out-right 0.6s ease-in both;
    animation: roll-out-right 0.6s ease-in both;
}
.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out both;
    animation: roll-in-left 0.6s ease-out both;
}
.roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out both;
    animation: roll-in-right 0.6s ease-out both;
}

@-webkit-keyframes roll-out-left {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px) rotate(-140deg);
        transform: translateX(-1000px) rotate(-140deg);
        opacity: 0;
    }
}
@keyframes roll-out-left {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px) rotate(-140deg);
        transform: translateX(-1000px) rotate(-140deg);
        opacity: 0;
    }
}
@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-140deg);
        transform: translateX(-800px) rotate(-140deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-140deg);
        transform: translateX(-800px) rotate(-140deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(160deg);
        transform: translateX(1000px) rotate(160deg);
        opacity: 0;
    }
}
@keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(160deg);
        transform: translateX(1000px) rotate(160deg);
        opacity: 0;
    }
}
@-webkit-keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(160deg);
        transform: translateX(800px) rotate(160deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(160deg);
        transform: translateX(800px) rotate(160deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.carousel-cell {

    height: 90vh;
    margin-right: 10vh;

    border-radius: 5px;
    counter-increment: carousel-cell;
}

.galleryDiv {
    background-color: #EFB5F2;
    --space: 2rem;

    display: grid;
    align-content: center;

    gap: var(--space);
    width: 100%;
    font-family: "Corben", system-ui, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

.gallery {
    --duration: 60s;
    --gap: var(--space);

    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: var(--gap);
    transform: skewY(-3deg);
}

.gallery__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    -webkit-animation: scroll var(--duration) linear infinite;
    animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .gallery__group {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
}

.gallery__group img {
    max-width: clamp(10rem, 1rem + 28vmin, 20rem);
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1rem;
}

.gallery__group p {
    background-color: #6204BF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Comba, sans-serif;
    margin-bottom: 0;
}

.gallery--borders {
    border-block: 3px solid #FE6C0C;
    padding-block: 0.75rem;
}

.gallery--reverse .gallery__group {
    animation-direction: reverse;
    -webkit-animation-delay: calc(var(--duration) / -2);
    animation-delay: calc(var(--duration) / -2);
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}





@media screen and (max-width: 767px){


    #sliderPC{
        display: none;
    }
    #sliderMobile{
        display: block;
    }
    .slider img{
        width: 100%;
        border-radius: 30px;
        box-shadow: 10px 10px 0 0 rgba(0,0,0,1);
        aspect-ratio: 1;
        object-fit: cover;
    }
    .story{
        width: 30%;

    }
    .socialS{
        width: 70%;

        left:-40%;

    }

}

@media screen and (max-width: 575px){
    .divVector{
        display: none;
    }
    .divVector-sm{
        display: block;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top:-1vh
    }
    .socialS{
        display: none;
    }
    .socialSm{
        display: block;
        width: 50%;
        left: 45%;
        top:30%
    }


}
