.divVector{
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -1vh;
}
#sliderPC{
    display: block;
}
#sliderMobile{
    display: none;
}
.slider img{
    width: 30vw;
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    aspect-ratio: 1;
    object-fit: cover;
}
.roll-out-left {
    -webkit-animation: roll-out-left 0.6s ease-in both;
    animation: roll-out-left 0.6s ease-in both;
}
.roll-out-right {
    -webkit-animation: roll-out-right 0.6s ease-in both;
    animation: roll-out-right 0.6s ease-in both;
}
.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out both;
    animation: roll-in-left 0.6s ease-out both;
}
.roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out both;
    animation: roll-in-right 0.6s ease-out both;
}

@-webkit-keyframes roll-out-left {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px) rotate(-140deg);
        transform: translateX(-1000px) rotate(-140deg);
        opacity: 0;
    }
}
@keyframes roll-out-left {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px) rotate(-140deg);
        transform: translateX(-1000px) rotate(-140deg);
        opacity: 0;
    }
}
@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-140deg);
        transform: translateX(-800px) rotate(-140deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-140deg);
        transform: translateX(-800px) rotate(-140deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(160deg);
        transform: translateX(1000px) rotate(160deg);
        opacity: 0;
    }
}
@keyframes roll-out-right {
    0% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(160deg);
        transform: translateX(1000px) rotate(160deg);
        opacity: 0;
    }
}
@-webkit-keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(160deg);
        transform: translateX(800px) rotate(160deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(160deg);
        transform: translateX(800px) rotate(160deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.carousel-cell {

    height: 1050px;
    margin-right: 10vh;

    border-radius: 5px;
    counter-increment: carousel-cell;
}
@media screen and (max-width: 767px){

    .divVector{
        display: none;
    }
    .divVector-sm{
        display: block;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top:-1vh
    }
    #sliderPC{
        display: none;
    }
    #sliderMobile{
        display: block;
    }
    .slider img{
        width: 100%;
        border-radius: 30px;
        box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
        aspect-ratio: 1;
        object-fit: cover;
    }

}

