#overlay{
    display: none;
    opacity:0.8;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1000;
    background-image: url("immagini/index/vittoria.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.quizBox{
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}
.gameBox{
    width: 75%;
    border-radius: 16px;
}
.flower{
    width: 90%;
}
.cut-img-right{
    position: relative;
    right: -3vw;
    max-width: calc(100% + 50px);
    height: auto;
}
.cut-img-left{
    position: relative;
    left: -3vw;
    max-width: calc(100% + 50px);
    height: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-hidden-x{
    overflow-x:clip;
}
.divVector{
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -1vh;
}
.divVector-sm{
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}
.grid-item {
    aspect-ratio: 1;
    text-align: center;
    cursor: pointer;
}
.grid-container >.grid-item{
    border: 1vh solid white;
    border-radius: 1vh;
}

.border-rounded{
    border-radius:20px;
}

.s1{
    width: 15%;left: 50%;bottom:10%;transform: rotate(-8deg);
}
.s2{
    width: 15%;left: 75%;bottom:0%;transform: rotate(12deg);
}
.s3{
    width: 15%;left: 45%;bottom:0%; transform: rotate(-12deg);
}
.s4{
    width: 19%;right: 38%;top:0; z-index:999;
}
.indexStar1{
    width: 10%;
    left: 55%;
    top:10%
}
.indexStar2{
    width: 4%;
    left: 35%;
    top:20%
}
.indexStar3{
    width: 10%;
    right: 50%;
    top:0%
}
.t2{
    width: 20%;
    right: 50%;
    bottom:10%;
    z-index: 999;
}
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------MEDIA QUERY---------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px){

    .divVector{
        display: none;
    }
    .divVector-sm{
        display: block;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top:-1vh
    }
    .quizBox{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .grid-container >.grid-item{
        border: 1vw solid white;
        border-radius: 5px;
    }
    .border-rounded{
        border-radius:10px;
    }
    .gameBox{
        width: 100%;
        border-radius: 16px;
    }
    .s1{
        width: 30vw;left: 5%;top:40vw
    }
    .s2{
        width: 25vw;left: 70%;top:40vw;padding: 0px;
    }
    .s3{
        width: 30vw;left: 5%;top:30vw;
    }
    .s4{
        width: 40vw;right: 0%;top:40%;z-index: 999
    }
    .indexStar1{
        width: 20%;
        left: 5%;
        top:2%;
    }
    .indexStar2{
        width: 15vw;
        left: 70%;
        top:0%
    }
    .indexStar3{
        width: 20%;
        left: 10%;
        top:0%
    }
    .flower{
        width: 70%;
    }

}
