.backgroundprodotto{
    background-image: url("immagini/prodotto/scritta.png");
    height: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

}

.sfondoForm{
    background-image: url('immagini/contatti/vector.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#carousel-md{
    display: block;
}
#carousel-sm{
    display: none;
}
.thumbnail{
    transition: transform .2s;
}
.thumbnail:hover{
    transform: scale(1.2);
    cursor: pointer;
}



@media screen and (max-width: 767px) {
    #carousel-md {
        display: none;
    }

    #carousel-sm {
        display: block;
    }

}