.backgroundprodotto{
    background-image: url("immagini/prodotto/scritta.png");
    height: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

}
.nonCart{
    display: none;
    background-color: #F21DB9;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    top:0%;
    right: -50%;

}
.sfondoForm{
    background-image: url('immagini/contatti/vector.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#carousel-md{
    display: block;
}
#carousel-sm{
    display: none;
}
.thumbnail{
    transition: transform .2s;
}
.thumbnail:hover{
    transform: scale(1.2);
    cursor: pointer;
}



@media screen and (max-width: 767px) {
    #carousel-md {
        display: none;
    }

    #carousel-sm {
        display: block;
    }
    .nonCart{
        top:0%;
        right: 0%;

    }
}