.hidden {
    display: none !important;
}

.firstDivP{
   /* height: 66vh;*/
}


.pbackground{
    background-image: url('immagini/shop/pBackground.png');
    height: 100%;
    background-size: 90%;
    position: relative;
    background-position-x: 100px;
    background-repeat: no-repeat;
    background-position-y: center;
}
.pbackground2{
    width: 100%;
    position: relative;
    left: -2vh;
    bottom: -3vw;
}
.pbackground2-sm{
    display: none;
}
.pVector{
    background-image: url('immagini/shop/pVector.png');
    background-size: 50%;
    background-repeat: no-repeat;
}
.star1 {
    width: 10%;
    left: 40%;
    top: 10%;
}
.star2{
    width: 10%; right: -25%;top: -20%;
}
.star3{
    display: none;
}

.imgshop{
    object-fit: cover;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.biancoenero {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);

   /* Fix per Explorer */
}
.grid-item {
    aspect-ratio: 1;
    text-align: center;
    cursor: pointer;
}
.shape1{
    display: none;
    object-fit: cover;
    width: 80%;
}
.stickershop{
    width: 50%; left: 55%;top: -50%; position: absolute;
}
.starshop{
    width: 10%;position: absolute; left: 80%; top: 10px;
}
.textshop1{
    width: 13%;top:20%;left: 5%
}

.price-position{
    width: 50%;
    position: absolute;
    top: -40px;
    left: -40px;
}
#text-hide2{
    display: none;
}
.overflow-hidden-x{
    overflow-x:clip ;
}
.arrow{
    width: 15%;top:90%;left:15%
}
.textshop2{
    width: 30%;
}
.kg{
    width: 20%;
    top:5%;
    right: 0%;

}
.read-here{
   bottom: 40%;
    left: 5%;
    width: 25%;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------MEDIA QUERY---------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 767px){
    .pbackground{
        background-image: url('immagini/shop/pBackground.png');
        height: 100%;
        background-size:100%;
        position: relative;
        background-position-x: 30px;
        background-repeat: no-repeat;
        background-position-y: center;
    }

    .pbackground2{
       margin: auto;

    }

    .star1{
        width: 10%; right: 35%; top: 20%;
    }
    .star2{
        width: 10%; right: -25%;top: 20%;
    }
    .star3{
        width: 5%;
        top: -80%;
        left: -50%;
        display: block;

    }

    .stickershop{
        width: 50%; left: 55%;top: -5%; position: absolute
    }
    .textshop1{
        display: none;
    }
    .starshop{
        width: 10%;position: absolute; left: 90%; top: 10%;
    }


    .firstDivP{
        height: auto;
    }
}

@media screen and (max-width: 575px){
    .star1 {
        width: 18%;
        left: 70%;
        top: 4%;
    }
    .pbackground2{
        display: none;

    }
    .pVector{
        background-image:none;
    }
    #background1{
        height: 300px;
    }

    .pbackground{

        background-position-x:center;
        background-size:90%;

        background-position-y: 0;
    }
    .pbackground2-sm{
        display: block;
        width: 100%;
        position: relative;
    }
    #fucsia-sm{
        background-color: #F21DB9;
    }
    .prova{
        height: auto;
    }
    .price-position{
        width: 50%;
        position: absolute;
        top: -12%;
        left: -12%;
    }
    .kg{

        width: 35%;
        top:60%;
        right: 0%;

    }
    .arrow{
        width: 15%;top:90%;left:10%
    }

}



