.wave {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -1vh;
    background-image: url('immagini/trama/onda.png');
}

.img_First {
    background-image: url('immagini/trama/calza_trama.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.stars_3 {
    width: 15%;
    left: 80%;
    top: -40%;
}

.stars_2 {
    width: 12%;
    left: 5%;
    bottom: 10%;
}

.XSsticker {
    width:30%;
    left: 95%;
    top:5%;
}

.XSsticker2 {
    width:15%;
    right: 15%;
    top: -50%;
}

.Cbackground{
    background-image: url('immagini/trama/img_sezione_BG.png');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;

}

.read_here {
    width: 30%;
    right: 50%;
    top: 5%;
}

.click_here {
    width: 15%;
    right: 30%;
    bottom: 33%;
}

.star_1 {
    width: 3.8%;
    right: 15%;
    bottom: 43%;
}

.starr_2 {
    width: 3.8%;
    bottom: 7%;
}

.send_pic {
    width: 30%;
    right: 15%;
    bottom: 10%;
}

.total_background{
    background-image: url('immagini/trama/scritta_striscia_D.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}

/** non li ho usati
.stickerRosa_total {
    background-image: url('immagini/trama/sticker-rosa.png');
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 4;
}

.stickerBlu_total {
    background-image: url('immagini/trama/sticker-blu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    position: relative;
    z-index: 4;
} **/

.c-height {
    height: 140vh;
}
.Lpink_sticker {
    top:0;
    aspect-ratio: 1;
    background-image: url('immagini/trama/sticker-rosa.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.Lblue_sticker {
    top:80%;
    aspect-ratio:1;
    right:80px;
    height:100%;
    background-image: url('immagini/trama/sticker-blu.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.WPsticker {
    padding: 25% 20% 25% 20%;
}

.WBsticker {
    padding: 20% 28% 25% 20%;
}

@media screen and (max-width: 768px) {

    .pt-10 {
        padding-top: 5vh;
    }

    .pb-20 {
        padding-bottom: 8vh;
    }

    .pt-20 {
        padding-top: 10vh;
    }

    .stars_3 {
        width: 15%;
        left: 80%;
        top: -25%;
    }

    .stars_2 {
        width: 12%;
        left: 60%;
        bottom: 7%;
    }

    .XSsticker {
        width: 40%;
        left: 7%;
        top: 80%;
    }

    .XSsticker2 {
        display: none;
    }

    .wave {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0;
        background-image: url('immagini/trama/wave_hor.png');
        top: -4%;
    }

    .star_1 {
        width: 3.8%;
        right: 10%;
        bottom: 45%;
    }

    .starr_2 {
        width: 3.8%;
        bottom: 7%;
        margin-left: 6vh;
    }

    .mobile {
        margin-left: 4vh;
    }

    .send_pic {
        width: 30%;
        right: 15%;
        bottom: 6%;
    }

    .Lpink_sticker {
        top:0;
        aspect-ratio: 1;
        background-image: url('immagini/trama/sticker-rosa.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 5vh;
    }

    .WPsticker {
        padding: 19% 18% 25% 20%;
    }

    .WBsticker {
        padding: 20% 20% 25% 25%;
    }

    .bottone {
        position: absolute;
        bottom: 22%;
        left: 30%
    }
    .click_here {
        width: 15%;
        right: 19%;
        bottom: 30%;
    }

    .c-height {
        height: 115vh;
    }
    .Cbackground{
        height: 50vh;
        background-position: center;
    }

}
/**stavo facendo il tablet ma non serve
@media screen and (min-width: 769px) and (max-width: 1200px) {

    .wave {
        margin-left: -2vh;
    }
    .XSsticker {
        width:40%;
        left: 95%;
        top:5%;
    }
    .stars_3 {
        width: 18%;
        left: 75%;
        top: -33%;
    }

    .stars_2 {
        width: 15%;
        left: 5%;
        bottom: 10%;
    }

    .pb-20 {
        padding-bottom: 10vh;
    }
}**/