.wave {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -1vh;
    background-image: url('immagini/trama/onda.png');
}

.img-First {
    background-image: url('immagini/trama/calza_trama.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.stars-3 {
    width: 12%;
    left: 38%;
    top: 7%;
    z-index: 999;
}

.stars-2 {
    width: 8%;
    left: 3%;
    bottom: 2%;
}

.XSsticker {
    width:30%;
    left: 95%;
    top:8%;
}

.XSsticker2 {
    width:15%;
    right: 25%;
    top: -25%;
}

.wave-hor {
    padding: 0;
}

.c-background{
    background-image: url('immagini/trama/img_sezBG_complete.png');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 2;
    left: 0;
}

.read-here {
    width: 150px;
    right: 10%;
    top: 0;
}

.click-here {
    width: 8%;
    right: 50%;
    top: 31%;
}

.star-1 {
    width: 3.8%;
    right: -5%;
    bottom: 43%;
}

.starr-2 {
    width: 3.8%;
    bottom: 7%;
    left: -5%;
}

.send-pic {
    width: 150px;
    right: 15%;
    bottom: -3%;
}

.total-background{
    background-image: url('immagini/trama/scritta_striscia_D.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: auto;
}

.c-overflow {
    overflow-x: hidden;
}
.margin-flower{
    margin-top:-20vh ;
}

/*.c-height {
    height: 140vh;
}*/

.Lpink-sticker {
    aspect-ratio: 1;
    background-image: url('immagini/trama/sticker-rosa.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.Lblue-sticker {
    aspect-ratio:1;
    background-image: url('immagini/trama/sticker-blu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.Spink-sticker {
    left:-20px;
    aspect-ratio: 1;
    background-image: url('immagini/trama/sticker-rosa.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 44px;
    padding-right: 50px;
}

.Sblue-sticker {
    left:24px;
    aspect-ratio: 1;
    background-image: url('immagini/trama/sticker-blu.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: center center;
    padding-right: 48px;
}

.c-btn {
    margin: auto;
}

.c-btn a {
    text-decoration: none;
    color:#262626;
}
.TS-padding {
    padding: 0 10%;
}

/*.WPsticker {
    padding: 20% 20% 25% 20%;
}

.WBsticker {
    padding: 25% 25% 25% 25%;
}*/
#xs{
    display: none;
}
#md-sm{
    display: block;
}

@media screen and (max-width: 767px) {
    .pt-10 {
        padding-top: 5vh;
    }
    .pb-20 {
        padding-bottom: 8vh;
    }
    /*.pt-20 {
        padding-top: 10vh;
    }*/


    /*.mobile-reverse {
        flex-direction: column-reverse;
    }*/
    .XSsticker2 {
        display: none;
    }
    .star-1 {
        width: 15px;
        right: -5%;
        bottom: 40%;
    }
    .starr-2 {
        width: 15px;
        bottom: 8%;
        left: -5%;
    }
    /*.mobile-margin {
        margin-left: 4vh;
    }*/
    .send-pic {
        display: none;
    }
    .read-here {
        width: 110px;
        right: 16%;
        top: -3%;
    }
    /*.Lpink-sticker {
        top:0;
        aspect-ratio: 1;
        background-image: url('immagini/trama/sticker-rosa.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 400px;
    }
    .Lblue-sticker {
        top:80%;
        aspect-ratio:1;
        right:80px;
        width: 350px;
        background-image: url('immagini/trama/sticker-blu.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 6vh;
    }
    .WPsticker {
        padding: 19% 18% 25% 20%;
    }
    .WBsticker {
        padding: 18% 20% 25% 25%;
    }*/
    .click-here {
        width: 15%;
        right: 19%;
        bottom: 30%;
    }
    .margin-flower{
        margin-top:0;
    }

    .stars-2 {
        width: 13%;
        left: 3%;
        bottom: 2%;
    }


    .star-1 {
        width: 18px;
        right: -5%;
        bottom: 40%;
    }

    .starr-2 {
        width: 18px;
        bottom: 5%;
        left: -25px;
    }

    .send-pic {
        width: 130px;
        right: -8%;
        bottom: -2%;
    }

    .pb-20 {
        padding-bottom: 12vh;
    }
    /*.Lpink-sticker {
        top:0;
        aspect-ratio: 1;
        background-image: url('immagini/trama/sticker-rosa.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 500px;
    }

    .Lblue-sticker {
        top:80%;
        aspect-ratio:1;
        right:80px;
        width: 400px;
        background-image: url('immagini/trama/sticker-blu.png');
        background-size: contain;
        background-repeat: no-repeat;
    }*/

    .click-here {
        width: 120px;
        right: 50%;
        top: 30%;
    }
    /*.WPsticker {
        padding: 20% 20% 20% 20%;
    }

    .WBsticker {
        padding: 20% 25% 25% 25%;
    }*/

}

@media screen and (max-width: 575px) {
    #xs{
        display: block;
    }
    #md-sm{
        display: none;
    }
    .wave {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0;
        background-image: url('immagini/trama/wave_hor.png');
        top: -4%;
    }
    .c-background{

        height: 400px;
        background-position: center;
        position: relative;
    }
    .XSsticker {
        width: 35%;
        left: 55%;
        top: 100%;
    }
    .stars-3 {
        width: 18%;
        left: 70%;
        top: 3%;
    }
    .stars-2 {
       display: none;
    }

}
